# CODING DISCUSSION - 3 - Harshini

## Task

Please read in the Chicago Summer 2018 Crimes Dataset located in the repository folder.

Using the data wrangling methods covered in class this week, create a new data frame where:

    the unit of observation is the crime type (i.e. primary_type),
    the column variables corresponds with the day of the month, and
    each cell is populated by the proportion of times that crime type was committed over all days of the month
        For example, assume there were just two days in a month and 2 thefts were committed on the first day, and 1 on the second day, then the proportion of thefts committed on the first day would be .66 and .33 on the second day).
        Make sure that:

    all missing values are filled with zeros. Zeros in this case means no crimes were committed that day;
    the data is rounded to the second decimal place; and
    the data frame is printed at the end of the notebook.

Submit

Please submit your answer as a Jupyter Notebook in the Submissions/ folder. Title the notebook with your lastname_firstname_netid (doe_john_jd568.ipynb). Be sure to submit a docstring if you write any functions indicating what your function does and all the arguments it takes. As per usual, please submit your answer to the class repository by Sunday 11:59pm deadline.

### Task Initiation

In [1]:
# Importing Pandas tools 
import pandas as pd 
#Importing input data using pandas tool
df = pd.read_csv("chicago_summer_2018_crime_data.csv")
#printing input data imported from input csv file
df.head()

,month,day,year,day_of_week,description,location_description,block,primary_type,district,ward,arrest,domestic,latitude,longitude
0,8,4,2018,Saturday,FROM BUILDING,APARTMENT,039XX W WASHINGTON BLVD,THEFT,11,28.0,False,False,NaN,NaN
1,7,26,2018,Thursday,POCKET-PICKING,RESTAURANT,005XX W MADISON ST,THEFT,1,42.0,False,False,NaN,NaN
2,6,24,2018,Sunday,BOGUS CHECK,GROCERY FOOD STORE,004XX E 34TH ST,DECEPTIVE PRACTICE,2,4.0,False,False,NaN,NaN
3,6,13,2018,Wednesday,SIMPLE,RESIDENCE,098XX S EXCHANGE AVE,ASSAULT,4,10.0,False,True,NaN,NaN
4,6,14,2018,Thursday,TO VEHICLE,STREET,001XX S WALLER AVE,CRIMINAL DAMAGE,15,29.0,False,False,NaN,NaN

### Creating Output Dataframe

In [9]:
# Filtering the required output columns from input data using groupby and creating converted_data for output data
#unstack function for count values
converted_data = df.groupby(['primary_type', 'day']).size().unstack(level=-1).reset_index().fillna(0)
days = list(df['day'].unique()) #unique days in column day
col_dict = {i: f'Day-{i}' for i in days}#Creating headers info - day
converted_data[days] = converted_data[days].apply(lambda x: round(x/x.sum(), 2), axis=1)#lamda function to calculate proportions
#renaming headers
converted_data = converted_data.rename(columns=col_dict).rename_axis(None, axis=1)

### Printing Output Data

In [4]:
#printing the output dataframe
print(converted_data)

                         primary_type  Day-1  Day-2  Day-3  Day-4  Day-5  \
0                               ARSON   0.04   0.03   0.03   0.02   0.04
1                             ASSAULT   0.04   0.03   0.03   0.04   0.04
2                             BATTERY   0.04   0.04   0.03   0.04   0.03
3                            BURGLARY   0.04   0.03   0.03   0.03   0.03
4   CONCEALED CARRY LICENSE VIOLATION   0.05   0.02   0.05   0.05   0.02
5                 CRIM SEXUAL ASSAULT   0.06   0.02   0.04   0.05   0.04
6                     CRIMINAL DAMAGE   0.03   0.03   0.03   0.03   0.03
7                   CRIMINAL TRESPASS   0.04   0.03   0.03   0.03   0.03
8                  DECEPTIVE PRACTICE   0.04   0.04   0.03   0.03   0.03
9                            GAMBLING   0.07   0.03   0.02   0.01   0.03
10                           HOMICIDE   0.02   0.00   0.03   0.02   0.06
11                  HUMAN TRAFFICKING   0.00   0.00   0.00   0.00   0.00
12   INTERFERENCE WITH PUBLIC OFFICER   0.03   0.02   0.05   0.03   0.02
13                       INTIMIDATION   0.02   0.04   0.00   0.04   0.02
14                         KIDNAPPING   0.02   0.04   0.02   0.04   0.09
15               LIQUOR LAW VIOLATION   0.02   0.05   0.05   0.02   0.02
16                MOTOR VEHICLE THEFT   0.03   0.03   0.04   0.03   0.02
17                          NARCOTICS   0.04   0.03   0.04   0.03   0.03
18                       NON-CRIMINAL   0.00   0.00   0.00   0.00   0.00
19   NON-CRIMINAL (SUBJECT SPECIFIED)   0.00   0.00   0.00   0.00   0.00
20                          OBSCENITY   0.14   0.00   0.05   0.10   0.00
21         OFFENSE INVOLVING CHILDREN   0.06   0.03   0.04   0.04   0.03
22                      OTHER OFFENSE   0.04   0.03   0.03   0.03   0.03
23                       PROSTITUTION   0.06   0.01   0.02   0.01   0.02
24                   PUBLIC INDECENCY   0.00   0.00   0.00   0.20   0.00
25             PUBLIC PEACE VIOLATION   0.03   0.04   0.03   0.05   0.03
26                            ROBBERY   0.04   0.03   0.03   0.03   0.03
27                        SEX OFFENSE   0.03   0.04   0.01   0.04   0.03
28                           STALKING   0.06   0.07   0.06   0.06   0.00
29                              THEFT   0.03   0.04   0.04   0.03   0.03
30                  WEAPONS VIOLATION   0.03   0.03   0.03   0.04   0.04

    Day-6  Day-7  Day-8  Day-9  ...  Day-22  Day-23  Day-24  Day-25  Day-26  \
0    0.05   0.04   0.04   0.02  ...    0.04    0.01    0.05    0.01    0.02
1    0.03   0.03   0.03   0.03  ...    0.03    0.03    0.04    0.03    0.03
2    0.03   0.03   0.03   0.03  ...    0.03    0.03    0.03    0.03    0.03
3    0.04   0.03   0.03   0.03  ...    0.04    0.03    0.04    0.03    0.03
4    0.05   0.05   0.00   0.02  ...    0.02    0.00    0.05    0.07    0.07
5    0.04   0.03   0.04   0.03  ...    0.03    0.03    0.02    0.03    0.05
6    0.03   0.03   0.03   0.03  ...    0.04    0.04    0.03    0.03    0.04
7    0.03   0.03   0.04   0.04  ...    0.03    0.04    0.04    0.03    0.03
8    0.04   0.03   0.03   0.03  ...    0.03    0.03    0.03    0.03    0.03
9    0.02   0.03   0.03   0.05  ...    0.02    0.02    0.01    0.04    0.03
10   0.03   0.02   0.08   0.05  ...    0.02    0.03    0.03    0.03    0.03
11   0.00   0.00   0.00   0.00  ...    0.00    0.00    0.00    0.00    0.00
12   0.04   0.04   0.05   0.04  ...    0.04    0.03    0.02    0.03    0.04
13   0.04   0.02   0.02   0.04  ...    0.00    0.04    0.00    0.07    0.00
14   0.02   0.00   0.02   0.00  ...    0.00    0.09    0.02    0.06    0.04
15   0.01   0.04   0.01   0.07  ...    0.00    0.01    0.00    0.06    0.00
16   0.04   0.03   0.03   0.03  ...    0.03    0.03    0.04    0.03    0.03
17   0.04   0.03   0.03   0.03  ...    0.04    0.03    0.03    0.04    0.03
18   0.12   0.00   0.00   0.00  ...    0.00    0.00    0.00    0.00    0.25
19   0.00   0.00   0.00   0.00  ...    0.00    0.50    0.00    0.00    0.00
20   0.05   0.00   0.00   0.00  ...    0.05    0.00    0.05    0.05    0.10
21   0.02   0.03   0.04   0.03  ...    0.03    0.02    0.02    0.03    0.02
22   0.04   0.04   0.03   0.03  ...    0.03    0.03    0.03    0.03    0.03
23   0.02   0.00   0.08   0.01  ...    0.03    0.06    0.03    0.03    0.04
24   0.00   0.00   0.00   0.00  ...    0.00    0.00    0.00    0.00    0.00
25   0.05   0.03   0.04   0.05  ...    0.01    0.03    0.05    0.02    0.04
26   0.03   0.03   0.03   0.04  ...    0.04    0.03    0.03    0.03    0.04
27   0.03   0.04   0.03   0.03  ...    0.04    0.03    0.03    0.04    0.01
28   0.06   0.00   0.04   0.04  ...    0.00    0.09    0.06    0.02    0.07
29   0.03   0.03   0.03   0.03  ...    0.03    0.03    0.03    0.03    0.03
30   0.03   0.03   0.03   0.03  ...    0.04    0.03    0.03    0.03    0.03

    Day-27  Day-28  Day-29  Day-30  Day-31
0     0.01    0.03    0.05    0.03    0.03
1     0.03    0.03    0.03    0.03    0.02
2     0.03    0.03    0.03    0.03    0.02
3     0.04    0.03    0.03    0.03    0.02
4     0.02    0.02    0.00    0.02    0.05
5     0.03    0.03    0.03    0.03    0.01
6     0.04    0.03    0.03    0.03    0.02
7     0.04    0.04    0.03    0.03    0.02
8     0.04    0.03    0.03    0.03    0.03
9     0.01    0.02    0.03    0.03    0.03
10    0.03    0.02    0.02    0.03    0.02
11    0.50    0.00    0.00    0.00    0.00
12    0.03    0.04    0.03    0.03    0.01
13    0.11    0.04    0.02    0.04    0.02
14    0.09    0.02    0.00    0.04    0.00
15    0.05    0.06    0.02    0.01    0.00
16    0.03    0.03    0.03    0.04    0.02
17    0.03    0.03    0.03    0.03    0.03
18    0.00    0.00    0.12    0.00    0.12
19    0.00    0.00    0.00    0.00    0.00
20    0.10    0.05    0.05    0.05    0.05
21    0.04    0.03    0.02    0.04    0.02
22    0.03    0.03    0.03    0.03    0.02
23    0.05    0.03    0.05    0.09    0.01
24    0.00    0.00    0.00    0.00    0.00
25    0.03    0.04    0.02    0.03    0.01
26    0.04    0.03    0.04    0.04    0.02
27    0.01    0.05    0.03    0.03    0.02
28    0.00    0.04    0.04    0.02    0.00
29    0.03    0.03    0.03    0.03    0.02
30    0.03    0.03    0.04    0.03    0.02

[31 rows x 32 columns]